[project]
	description = Kubernetes Operations (kops) - Production Grade K8s Installation, Upgrades, and Management
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kamil Hristov (kamilhristov)
[access "refs/for/refs/*"]
	read = group user/Kamil Hristov (kamilhristov)
	push = group user/Kamil Hristov (kamilhristov)
	label-Code-Review = -2..+2 group user/Kamil Hristov (kamilhristov)
	label-Verified = -1..+1 group user/Kamil Hristov (kamilhristov)
	rebase = group user/Kamil Hristov (kamilhristov)
	removeReviewer = group user/Kamil Hristov (kamilhristov)
	submit = group user/Kamil Hristov (kamilhristov)
[access "refs/heads/*"]
	read = group user/Kamil Hristov (kamilhristov)
	create = group user/Kamil Hristov (kamilhristov)
	push = +force group user/Kamil Hristov (kamilhristov)
	pushMerge = group user/Kamil Hristov (kamilhristov)
[access "refs/tags/*"]
	push = group user/Kamil Hristov (kamilhristov)
	push = +force group user/Kamil Hristov (kamilhristov)
